---
import Calc from "../components/Calculator.svelte";
import Calc2 from "../components/Calculator2.svelte";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>AS Calculator</title>
		<style>
			body {
				padding: 0px;
				margin: 0px;
			}
		</style>
	</head>
	<body>
		<!--<Calc client:load/>-->
		<Calc2 client:load/>
	</body>
</html>
